body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(248, 204, 204,) !important;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f3e9cd;
  border-top: 2px #FFD871 solid;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
}
p, i{
  color: #bd6513;
}
